$primary-color: #2196f3;
$secondary-color: #1976d2;
$bg-color: #13191c;
$card-bg-color: #263238;
$input-bg-color: #1c252a;
$primary-text-color: #eceff1;
$secondary-text-color: #90a4ae;
$button-text-color: #f5f7f8;
$button-color: #455a64;
$button-hover-color: #546e7a;
